body {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.welcome-block {
  display: flex;
  align-items: center;
  padding: 10vw;
  background-image: url('./image/programming.jpg');
}

.welcome-block-text {
  display: flex;
  color: #fff;
  background-color: rgba(33, 170, 33, 0.856);
  flex-direction: column;
  font-size: 1.5rem;
  margin-left: 5vw;
  padding: 30px;
  border-radius: 10px;
}

.welcome-block-name {
  margin: 0;
}

.avatar {
  width: 50vw;
  border-radius: 30px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.skills-header {
  text-align: center;
  font-size: 100px;
}

.skills {
  display: flex;
  justify-content: space-around;
  margin: 100px 10px;
}

.skill-icon-html {
  width: 300px;
}
.skill-icon-css {
  width: 210px;
}
.skill-icon-react {
  width: 250px;
}
.skill-icon-git {
  width: 260px;
}
.skill-icon-vscode {
  width: 260px;
}
.skill-icon-linux {
  width: 260px;
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.skill-icon {
  rotate: 10;
  animation: spin 20s linear infinite;
}

.contacts {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  margin-left: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.contacts-header {
  text-align: center;
  font-size: 2rem;
}

.contacts-link-vk,
.contacts-link-github,
.contacts-link-gmail,
.contacts-link-tel {
  display: flex;
  padding-left: 30px;
  height: 100px;
  width: 300px;
  align-items: center;
}

.contacts-link-vk {
  flex-grow: 3;
  width: 200px;
}
.contacts-link-github {
  flex-grow: 3;
  width: 200px;
}
.contacts-link-gmail {
  flex-grow: 3;
}
.contacts-link-tel {
  flex-grow: 3;
}

.contacts-icon-vk,
.contacts-icon-github,
.contacts-icon-gmail,
.contacts-icon-tel {
  width: 30px;
}

.contacts-icon-vk,
.contacts-icon-github,
.contacts-icon-gmail,
.contacts-icon-tel {
  width: 30px;
}

.contacts-text-vk {
  font-size: 1.5rem;
  padding-left: 10px;
  width: 100px;
}

.contacts-text-github {
  font-size: 1.5rem;
  padding-left: 10px;
  width: 100px;
}

.contacts-text-gmail {
  font-size: 1.5rem;
  padding-left: 10px;
}

.contacts-text-tel {
  font-size: 1.5rem;
  padding-left: 10px;
}
